# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/js/vendor/aladin.js
/regex.txt
/WFI_ucac4.xml
/WFI_hip2.xml
/DataTables/
